<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PCF_Functions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <PCF_Functions.Properties.Settings>
            <setting name="UNITS_BORE_MM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UNITS_BORE_INCH" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UNITS_CO_ORDS_MM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UNITS_CO_ORDS_INCH" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UNITS_WEIGHT_KGS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UNITS_WEIGHT_LBS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UNITS_WEIGHT_LENGTH_METER" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UNITS_WEIGHT_LENGTH_INCH" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UNITS_WEIGHT_LENGTH_FEET" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ALL_PIPELINES" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SPECIFIC_PIPELINE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SYS_ABBR_SPEC_PIPL" serializeAs="String">
                <value/>
            </setting>
            <setting name="DELETE" serializeAs="String">
                <value>comboBox1</value>
            </setting>
        </PCF_Functions.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
