<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PCF_Functions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <PCF_Functions.Properties.Settings>
      <setting name="radioButton1AllPipelines" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="radioButton2SpecificPipeline" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="textBox3SpecificPipeline" serializeAs="String">
        <value>Input here</value>
      </setting>
      <setting name="textBox3Visible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="textBox4Visible" serializeAs="String">
        <value>True</value>
      </setting>
    </PCF_Functions.Properties.Settings>
  </userSettings>
</configuration>