<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PCF_Functions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <PCF_Functions.Properties.Settings>
      <setting name="radioButton1AllPipelines" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="radioButton2SpecificPipeline" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="radioButton3BoreMM" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="radioButton4BoreINCH" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="radioButton5CoordsMm" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="radioButton6CoordsInch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="radioButton7WeightKgs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="radioButton8WeightLbs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="radioButton9WeightLengthM" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="radioButton10WeightLengthF" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="textBox5OutputPath" serializeAs="String">
        <value/>
      </setting>
      <setting name="excelPath" serializeAs="String">
        <value/>
      </setting>
      <setting name="textBox22DiameterLimit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="radioButton12WallThkTrue" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="radioButton11WallThkFalse" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="checkBox1Checked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="checkBox2Checked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="radioButton13AllPipelinesSeparate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="radioButton14ExportSelection" serializeAs="String">
        <value>False</value>
      </setting>
    </PCF_Functions.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
